@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../../assets/font/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('../../assets/font/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('../../assets/font/AvenirNextLTPro-Demi.otf');
}