.page-header {
  font-size: 33px;
  line-height: 44px;
  font-weight: 700;
}

.section-header {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.labels-buttons {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.mob-page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.mob-section-header {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.mob-subheader {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

.mob-body {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.mob-labels-buttons {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  font-family: "AvenirNextLTPro-Regular";
}

@media (max-width: 767px) {
  .comments {
    padding: 0 16px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments {
    padding: 0 24px;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 24px 0 24px 10vw;
  }
}
.comments__container {
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
}
@media (max-width: 767px) {
  .comments__container {
    padding: 16px 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__container {
    padding: 24px 0;
  }
}
@media (min-width: 1280px) {
  .comments__container {
    padding: 24px 0;
  }
}
.comments__container__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 15px;
}
@media (min-width: 1280px) {
  .comments__container__profile {
    width: 60px;
    height: 60px;
  }
}
.comments__container__comment {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .comments__container__comment {
    margin-left: 10px;
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__container__comment {
    margin-left: 20px;
    width: 90vw;
  }
}
@media (min-width: 1280px) {
  .comments__container__comment {
    margin-left: 20px;
    width: 90vw;
  }
}
.comments__container__id {
  display: flex;
  justify-content: space-between;
}
.comments__container__id__name {
  font-weight: 700;
}
@media (min-width: 1280px) {
  .comments__container__id__name {
    font-size: 1.2rem;
  }
}
.comments__container__id__date {
  color: #AFAFAF;
}
@media (min-width: 1280px) {
  .comments__container__id__date {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .comments__content {
    margin-top: 16px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__content {
    margin-top: 24px;
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  .comments__content {
    margin-top: 24px;
    line-height: 22px;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=Comments.css.map */